.pen{
    width: 17px;
    height: 17px;
}
.weightbox1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fontchange{
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #915B43;
}
.weight_current{
    font-size: 24px;
    font-weight: 600;
}
.kilo{
    font-size: 16px;
    font-weight: 400;
}
.weight_goal{
    font-size: 20px;
    font-weight: 600;
    color: #EF7430;
}
.kilogoal{
    font-size: 16px;
    font-weight: 400;
    color: #EF7430;
}
