@import "../../styles/color"; // สี

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 122px;
    background-color: #fdf1ea;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 1000;
    box-shadow: 0px -1px 4px rgba(80, 80, 80, 0.25);
    ul{
    gap: 30px;
    display: flex;
    align-items: flex-end;
    list-style-type: none; 
    margin: 0;
    padding: 0;   
    }
}
a {
    text-decoration:none !important; 
    color: #000000 !important;
    display: flex;
    text-align: center;
    flex-direction: column;
    text-decoration: none;
    font-size: 10px;
    line-height: 1.5rem;
}   
.icon_photo {
     img {
      width: 68px; // กำหนดขนาดของรูปภาพ
      height: 68px;
}
}
.icon-img{
    width: 40px;
    height: 31px;
}
