.go__backicon {
    width: 12px !important; /* กำหนดความกว้าง */
    height: 20px !important; /* กำหนดความสูง */
    object-fit: cover; /* ปรับการครอบรูป */
  }
.go__back{
    display: flex;
    align-items: center;
}