/* Error: Can't find stylesheet to import.
 *   ,
 * 1 | @import "../node_modules/bootstrap/scss/bootstrap";
 *   |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   src\styles\custom.scss 1:9  root stylesheet */

body::before {
  font-family: 'FC Minimal', sans-serif;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 1 \2502  @import \"../node_modules/bootstrap/scss/bootstrap\";\d\a   \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   src\\styles\\custom.scss 1:9  root stylesheet";
}
