.h1__header{
    font-size: 24px;
    color: #EF7430;
}
.container{
    padding: 0 12px;
    justify-content:space-between !important; 
    align-items: flex-start;
    display: flex;
}
.nameCustomer{
    color: #915B43;
    font-weight: 400;
}

.nameCustomer1{
    font-weight: 500;
    font-size: 18px;
}
.header__left{
    background-color: red;
}
.icon__person{
    width: 35px;
    height: 35px;

}