.forgotPasswordContainer {
    height: 300px;
    width: 400px;
    border: 1px solid #915b43;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: 'FC Minimal', sans-serif;
    padding: 0px 30px;
    background-color: #fff2EA;
    border-radius: 10px;
    padding-bottom: 18px;
  }
  
  .forgotPasswordTitle {
    font-size: 20px;
    font-family: 'FC Minimal', sans-serif;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
  }
  .input{
    font-family: 'FC Minimal', sans-serif;
    height: 45px;
    max-width: 290px;
  }
  
  .submitButton {
    background-color: 
    #915B43;
    width: 100%;
    height: 40px;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    max-width: 290px;
    border: none;
    &:hover {
      background-color: #7a4535;
    }
  }
  
  .message {
    margin-top: 16px;
    text-align: center;
  }
  
  .errorMessage {
    color: red;
  }
  
  .successMessage {
    color: green;
  }