.h1__header{
    font-size: 24px;
    color: #EF7430;
    margin-bottom: 10px;
}
.container{
    // padding: 0 12px;
    justify-content:space-between !important; 
    align-items: flex-start;
    display: flex;
    // margin-top: 30px;
}
.nameCustomer{
    color: #915B43;
    font-weight: 400;
}

.nameCustomer1{
    font-weight: 500;
    font-size: 18px;
}
.header__left{
    background-color: red;
}
.icon__person{
    width: 40px;
}
.go__backicon {
    width: 10px !important; /* กำหนดความกว้าง */
    height: 19px !important; /* กำหนดความสูง */
    object-fit: cover; /* ปรับการครอบรูป */
  }
.go__back{
    display: flex;
    align-items: center;
}

