.container{
    height:100vh;
    box-sizing: border-box;
}
.go__backicon {
    width: 10px !important; /* กำหนดความกว้าง */
    height: 19px !important; /* กำหนดความสูง */
    object-fit: cover; /* ปรับการครอบรูป */
  }
.go__back{
    display: flex;
    align-items: center;
}
.wrapper{
    margin-top: 16px;
}
