
.go__backicon {
    width: 10px !important; /* กำหนดความกว้าง */
    height: 19px !important; /* กำหนดความสูง */
    object-fit: cover; /* ปรับการครอบรูป */
  }
.go__back{
    display: flex;
    align-items: center;
}
.wrapper{
    margin-top: 16px;
}
.wrapperall{
    background-color: #FFF2EA;
    min-height: 100vh; 
    position: relative;
    padding-bottom: 150px;
    padding-top: 30px;
}

@media screen and (max-width: 426px){
    .wrapperall{
        padding-bottom: 120px;
    }
    
}
