.wrapper{
    min-height: 100vh;
    background-color: #FBF3E6;
}
.gobackicon{
    width: 10px;
    height: 18px;
}
.header{
    padding-top: 30px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.namehead{
    color: #915B43;
    font-weight: 600;
    font-size: 24px;
}