.container{
    height:100vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    // margin-top: 50px;
    justify-content: center;
    box-sizing: unset;
}
.wellcome{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 5px;
}
.kakaloryhead{
    font-size: 24px;
    font-weight: 700;
    color: #EF7430;
}
.responsiveimg {
  width: 210px;
  max-width: 100%; /* ป้องกันรูปภาพล้น */
}
.cutomlogin{
    padding-bottom: 50px;
}
.loginform{
  margin-top: 20px;
}
.formfield{
  text-align: left;
}
.div3{
  background:#FFF2EA;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-Top: 30px;
  margin-bottom: 50px;
 
}

.iconshowpassword {
  color: #EF7430 !important;
  background-color: #FFF2EA !important; /* สีของไอคอนเป็น #EF7430 */
  transition: none !important; /* ไม่ให้มีการเปลี่ยนแปลงใดๆ เมื่อ hover */
}

.iconshowpassword:hover {
  color: #EF7430 !important; /* กำหนดสีให้เหมือนเดิมเมื่อ hover */
  background-color: #FFF2EA !important;
  transition: none !important; /* ป้องกันการเปลี่ยนแปลงใดๆ */
}

// Responsive
@media (min-width: 1500px) { /* กำหนดจอใหญ่กว่า 1500px  ขึ้นไป */
  .responsiveimg{
    display: none;
   } 
   .container{
    gap: 80px;
    flex-direction: row;
    align-items: center;
   }
   .responsiveimg1{
    width: 700px;
   }
}
@media (min-width: 1700px) { /* กำหนดจอใหญ่กว่า 768px */
  .responsiveimg1{
    width: 800px;
   }
   .container{
    gap: 170px;
   }
}
@media (max-width: 1500px) { /* กำหนดจอใหญ่กว่า 768px */
 .responsiveimg1{
  display: none;
 }
 .responsiveimg{
  width: 300px;
 }
}
@media (max-width: 992px) { /* กำหนดจอใหญ่กว่า 768px */
  .responsiveimg{
   width: 350px;
  }
 }
@media (max-width: 500px) { /* กำหนดจอใหญ่กว่า 768px */
  .responsiveimg{
   width: 300px;
  }
}