.wapper{
    background-color: #FFF2EA;
    min-height: 100vh; 
    position: relative;
    padding-bottom: 150px;
    padding-top: 30px;
}
h1{
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #915B43;
}